@import "../mixins/mixins";



.goods-filters {

  .accordion {
    list-style: none;
    padding: 0;
    margin: 0;
    .btn-filter {
      cursor: pointer;
      border-bottom: 1px solid @text-grey;
      position: relative;
      &__img {
        width: 30px;
        height: 30px;
        background-image: url('../images/shevron-red-thin.svg');
        background-size: 60%;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background-repeat: no-repeat;
        position: absolute;

      }
    }
    .filter-card__inner {
      display: none;
    }
  }
}

.filter-active {
  border: 1px solid @text-grey;
  .btn-filter {
    border-bottom: none !important;
    &__img {

      background-image: url('../images/close-black.svg') !important;
    }
  }
}

.btn-filter-sm {
  .btn-filter__img{
    transform: rotate(-90deg);
  }

}

.filter-cost {
  &__input {
    border: none;
    border-bottom: 1px solid;
    outline: none;
  }

}



