@import "../mixins/mixins";

#good {
  position: relative;
}
.bg-good {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: 50% 0;
  background-image: url('../images/cross-dark.png');
  background-repeat: repeat;
  background-size: 32%;
  z-index: 0;
  @media screen and (min-width: 1025px) {
    background-size: 15%;

  }
}
.good {
  align-items: stretch;
  .accordion {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid transparent;
    transition: all .9s;
    .btn-filter {
      cursor: pointer;
      border-bottom: 1px solid @text-grey;
      position: relative;
      transition: all .9s;
      &__title {
        text-transform: uppercase;
        color: @text-black-lite;
        font-family: @font-tenor;
      }
      &__img {
        width: 30px;
        height: 30px;
        background-image: url('../images/shevron-red-thin.svg');
        background-size: 60%;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background-repeat: no-repeat;
        position: absolute;
      }
    }
  }
  .filter-active {
    border-bottom: 1px solid @text-grey;
    transition: all .9s;
    .btn-filter {
      transition: all .9s;
      border-bottom: 1px solid transparent;
      &__img {
        background-image: url('../images/close-black.svg') !important;
      }
    }
  }
}

.good-images {
  display: flex;
  display: -webkit-box;
  min-width: 100%;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  &__item {
    min-width: 200px;
    img {
      width: 100%;
    }
  }
  @media screen and (min-width: 768px) {
    flex-direction: column;
    min-width: auto;
    overflow-x: auto;
  }
}
.good-description {
  background-color: @beige;
  padding: 15px 20px;
  border-bottom: 2px solid @black;
  @media screen and (min-width: 768px) {
    padding: 20px 30px;
  }
}
.good-card-cost {
  font-size: 24px;
  font-family: @font-tenor;
}
.order-buttons {
  .btn-order {
    margin: 0;

    @media screen and (min-width: 768px) {
      padding-right: 20px;
    }
  }
  .good-question-link {
    line-height: 3;
    .question-link-question {
      color: @black;
      &:hover {
        color: @text-black-lite;
      }
    }
  }

}
.accordion-card-inner {
  max-height: 200px;
  overflow-y: auto;
}
