@import "../mixins/mixins";

/*cover-categories*/

.main-cover-box {
  position: relative;
}
.cover-categories {
  margin-top: -13%;
  position: absolute;
  width: 100%;
  z-index: 2;
  &__box {
  }

  &__link{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    &:hover {

      .cover-categories{
        &__title {
          color: @red;
          transition: all .3s;
        }
        &__box {
          &:before {
            opacity: .5;
            transition: all .3s;
          }
          &:after {
            content: "";
            width: 95%;
            height: 90%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
            z-index: 1;
            border: 1px solid #F50C0C;
            transition: all .3s;
          }

        }
      }

    }
  }
  &__box {
    position: relative;
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: .4;
      position: absolute;
      z-index: 1;
      transition: all .3s;
    }
    &:after {
      transition: all .3s;
    }

  }
  &__title {
    position: absolute;
    top: 44%;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    z-index: 2;
    font-size: 24px;
    font-family: @font-tenor;
    transition: all .3s;
  }
  &__img {
    width: 100%;
  }

}
.main-goods {
  &__pills-link {
    color: @black;
  }

  .nav-link {
    padding: 0;
    padding-top: .5rem;
    margin: .5rem 1rem;
  }
  .nav-pills {
    display: -webkit-box;
    min-width: 100%;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .nav-item {
      min-width: 50px;
    }
    .nav-link {
      border-radius: 0;
      margin-left: 0;
      &:hover {
        color: @red;
      }
      &.active, .nav-pills .show > .nav-link {
        color: @red;
        background-color: transparent;
        border-top: 2px solid @red;
      }
    }
  }
}
.main_goods_padding {
  padding-top: 85%;
  @media screen and (min-width: 768px) {
    padding-top: 15%;
  }
}
#main-goods {
  position: relative;
}
 .main-goods-bg {
   left:0;
   right:0;
   top:0;
   bottom:0;
   background-color: @beige;
   &:before {
     background-image: url('../images/main/map.svg');
     background-position:  100% 80%;
     background-repeat: no-repeat;
     background-size: 85%;

   }
   &:after{
     background-image: url('../images/main/main-goods/main-goods-grid.png');
     background-size: cover;
     filter: contrast(500%);
   }
   &__title {
     color: @black;
   }
 }
.main-good {
  padding: 0 1px;
  &__img {
    width: 100%;
  }
  &__link {
    &:hover {
      text-decoration: none;
      .main-good__disc {
        background-color: @bg-white;
      }
      .good-cost {
        position: relative;
        color: @black;
        &:before {
          content: "";
          position: absolute;
          width: 30px;
          height: 10px;
          background-image: url('../images/short-arrow-red.svg');
          background-repeat: no-repeat;
          right: 0;
          top: 5px;
        }
      }
    }
  }
  &__disc {
    padding: 5px 20px;
    color: @black;
  }
}
.main-goods-btn {
  color: @black;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  border-color: @black;
  @media screen and (min-width: 767px) {
    width: @btn-width-small;
  }
  &:before {
    border:1px solid @text-grey;
    border-top: 0;

  }
  &:hover {
    background-color: #fff;
    &:before {
      background-color: #cbcac9;
    }
  }
}
