@import "../mixins/mixins";

.main-about {
  &__title {
    font-size: 2rem;
  }
  @media screen and (min-width: 767px) {
    &__title {
      font-size: 2.5rem;
    }
  }
}
.main-about-btn {
  color: @red;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  border:1px solid @red;
  @media screen and (min-width: 767px) {
    width: @btn-width-small;
  }
  &:before {
    border:1px solid @red;
    color: @base-text-white;
  }
  &:hover {
    background-color: @red;
    color: #fff;
    &:before {
      background-color: @red;
    }
  }
}
.brand-slider {
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
  margin-top: 50px;
}
.about-next-arrow, .about-prev-arrow {
  cursor: pointer;
  height: 10px;
  width: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  @media screen and (min-width: 767px) {
    width: 120px;
    height: 55px;
  }
}
.about-prev-arrow {
  left: -30px;
  z-index: 2;
  @media screen and (min-width: 767px) {
    left: -90px;
    &:hover {
      .boreds-draw-box{
        &:before{
          transform: scaleX(1);
        }
        &:after{
          transform: scaleY(1);
          transition-delay: .3s;
        }
      }
      .boreds-draw:before{
        transform: scaleX(1);
        transition-delay: .4s;
      }
      .boreds-draw:after{
        transform: scaleY(1);
        transition-delay: .6s;
      }
      .draw-arrow {
        width: 60px;
        transition: 0.3s;
        background-color: @red;
        &:before, &:after{
          background-color: @red;
          transition: 0.3s;
        }
      }
    }
  }
}
.about-next-arrow {
  transform: rotate(180deg);
  right: -30px;
  z-index: 2;
  @media screen and (min-width: 767px) {
    right: -90px;
    &:hover {
      .boreds-draw-box{
        &:before{
          transform: scaleX(1);
        }
        &:after{
          transform: scaleY(1);
          transition-delay: .3s;
        }
      }
      .boreds-draw:before{
        transform: scaleX(1);
        transition-delay: .4s;
      }
      .boreds-draw:after{
        transform: scaleY(1);
        transition-delay: .6s;
      }
      .draw-arrow {
        width: 60px;
        transition: 0.3s;
        background-color: @red;
        &:before, &:after{
          background-color: @red;
          transition: 0.3s;
        }
      }
    }
  }
}



.brand-slider-block {
  cursor: pointer;
  padding: 20px 0;
  position: relative;
  transition: all .3s ease-in-out;
  outline: 1px solid transparent;
  outline-offset: -5px;
  &__img {
    margin: 0 auto;
    width: 70%;
  }
  &__goods {
    visibility: visible;
    @media screen and (min-width: 767px) {
      visibility: hidden;
      transition: all .3s ease-in-out;
    }
  }
  &:hover {
    transition: all .3s ease-in-out;
    outline: 1px solid lighten(@text-black-lite, 20%);
    &:before {
      content: "";
      height: 3px;
      width: 90%;
      position: absolute;
      bottom: 1px;
      left: 5%;
      border:1px solid #cbcac9;
      transition: all .3s ease-in-out;
    }
    .brand-slider-block__goods {
      visibility: visible;
      transition: all .3s ease-in-out;
    }
  }

}

