@import "../mixins/mixins";

/*HEADER*/
header  {
  min-height: 100vh;
  @media screen and (min-width: 767px) {
    min-height: 110vh;
  }
}
.main-bg {
  background-image: url('../images/main/main-img.jpg');
  height: 100%;
  @media screen and (min-width: 767px) {
    min-height: 110%;
  }

  &:before {
    opacity: .5;
    background-color: #1C2125;

  }
  &:after{
    background-image: url('../images/main/main-grid.png');
  }
}
.main-header {
  display: flex;
  align-items: center;

  &__title {
    margin-top: 15%;
    font-family: Tenor-Sans;
    font-size: 2.5rem;
    color: @base-text-white;
    @media screen and (min-width: 767px) {
      font-size: 4.7rem;
      margin-top: -15%;

    }
  }
  &__subtitle {
    font-family: Gerbera;
    font-size: 16px;
    padding: 0 40px;
    color: @base-text-white;
    padding-top: 30px;
  }
  &__btn {
    color: @base-text-white;
    margin-top: 70px;
    position: relative;
    border: 1px solid @base-text-white;
    &:before {
      border:1px solid #cbcac9;
    }
    &:hover {
      color: #000;
      background-color: #fff;
      &:before {
        background-color: #cbcac9;
      }
    }
  }
}
.main-scroll-mouse {
  position: absolute;
  bottom: 18%;
  left: 0;
  right: 0;
  width: 80px;
  overflow: auto;
  margin: auto;
  text-align: center;
  &__text {
    text-transform: uppercase;
    color: #fff;
  }
  &__ellipse {
    position: relative;
    height: 30px;
    margin: auto;
    width: 20px;
    border-radius: 10px;
    border: 1px solid @base-text-white;
    &:before {
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: @red;
      position: absolute;
      left: 7px;
      top: 6px;
    }

  }

}
