@import "mixins/mixins";


.navbar-main {
  position: absolute;
  z-index: 5;
  width: 100%;
  .main-nav-tel {
    font-family: @font-tenor;
    font-size: .6rem;
    color: @base-text-white;
    transition: .5s;
    @media screen and (min-width: 360px) {
      font-size: .8rem;

    }
    &:hover {
      color: @text-black-lite;
      transition: .5s;
      text-decoration: none;
    }
    @media screen and (min-width: 992px) {
      font-size: 1rem;
    }
  }
}
.main-nav-categories {
  .nav-item {
    &:first-child {
      position: relative;
      &:before {
        content: '';
        transition: .5s;
        position: absolute;
        width: 16px;
        height: 8px;
        border: 16px solid transparent;
        border-top: 16px solid lighten(@text-grey, 10%);
        top: 0;
        left: 25px;
        z-index: 10;
        display: block;
        @media screen and (min-width: 769px) {
          display: none;
        }
      }
    }
  }
  &__link {
    padding: 6px 2rem;
    color: @black;
    font-family: @font-tenor;
    font-size: 16px;
    display: flex;
    justify-content: space-between;

    &:hover {
      //color: @text-black-lite;
      text-decoration: none;
    }
    @media screen and (min-width: 992px) {
      font-size: 13px;
      color: @base-text-white;
      text-transform: uppercase;
      font-family: @font-gerbera;
      padding: .5rem 1rem;
      transition: .3s;
      &:hover {
        color: @text-black-lite !important;
        transition: .3s;
      }
    }
    @media screen and (width: 1024px) {
      font-size: 12px;
    }

  }
}
.main-nav-links {
  padding-left: 0;

  .nav-item {
    border-top: 1px solid  @text-grey;
    &:last-child {
      border-bottom: 1px solid @text-grey;
    }
    @media screen and (min-width: 992px) {
      border: 0;

      &:last-child {
        border-bottom: 0;
      }
    }
  }
  .nav-link {
    font-size: 16px;
    color: @black;
    font-family: @font-tenor;
    padding: 1rem 2rem;

    //&:hover {
    //  color: @text-black-lite !important;
    //}
    @media screen and (min-width: 992px) {
      font-size: 13px;
      color: @text-grey;
      font-family: @font-gerbera;
      padding: .5rem 1rem;
      transition: .3s;
      &:hover {
        transition: .3s;
        color: @base-text-white !important;
      }
    }

  }

}
