@import "mixins/mixins";

/*FOOTER*/

.footer-bg {
  background-image: url('../images/footer-bg.jpg');
  min-height: 300px;
  &:before {
    opacity: .8;
    background-color: #1C2125;

  }
  &:after{
    background-image: url('../images/footer-grid.png');
  }
}
footer {
  color: #fff;
}
