@import "mixins/mixins";


.navbar-light {
  position: absolute;
  z-index: 5;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.1);
  .light-nav-tel {
    font-family: @font-tenor;
    color: @text-black-lite;
    transition: .5s ease-in-out;
    font-size: 12px;
    &:hover {
      color: @black;
      text-decoration: none;
      transition: .5s ease-in-out;
    }
    @media screen and (min-width: 992px) {
      font-size: 16px;
    }
  }
  .nav-header-button {
    &:hover {
      color: @text-black-lite;
      &:before {
        border-color: @text-black-lite;
      }
    }
  }
}
.nav_collaps_light {
  left: -100vw;
  height: 100vh;
  position: absolute;
  @media screen and (min-width: 992px) {
    left: 0;
    height: auto;
  }
}
.light-nav-links {
  padding-left: 0;
  .nav-item {
    border-top: 1px solid  @text-grey;
    &:last-child {
      border-bottom: 1px solid @text-grey;
    }
    @media screen and (min-width: 992px) {
      border: 0;

      &:last-child {
        border-bottom: 0;
      }
    }
  }
  .nav-link {
    font-size: 16px;
    color: @black;
    font-family: @font-tenor;
    padding: 1rem 2rem;
    //&:hover {
    //  color: @text-black-lite !important;
    //}
    @media screen and (min-width: 992px) {
      padding: .5rem 1rem;
      font-size: 13px;
      color: @text-black-lite;
      font-family: @font-gerbera;
      &:hover {
        color: @black !important;
      }
    }
  }
}
.nav-dark-divider {
  border-top: 1px solid @black;
  opacity: .1 !important;
}
.light-nav-categories {
  .nav-item {
    &:first-child {
      position: relative;
      border-top: 0;
      &:before {
        content: '';
        transition: .5s ease-in-out;
        position: absolute;
        width: 16px;
        height: 8px;
        border: 16px solid transparent;
        border-top: 16px solid lighten(@text-grey, 10%);
        top: 0;
        left: 25px;
        z-index: 10;
        display: block;
        @media screen and (min-width: 769px) {
          display: none;
        }
      }
    }
    &:last-child {
      @media screen and (min-width: 992px) {
        .light-nav-categories__link {
          padding-right: 0;
        }
      }
    }
  }
  &__link {
    padding: 6px 2rem;
    display: flex;
    justify-content: space-between;
    color: @black;
    font-family: @font-tenor;
    font-size: 16px;

    &:hover {
      color: @text-black-lite;
      text-decoration: none;
    }
    @media screen and (min-width: 992px) {
      font-size: 12px;
      color: @black;
      text-transform: uppercase;
      font-family: @font-gerbera;
      padding: .5rem 1rem;
      &:hover {
        color: @text-black-lite !important;
      }
    }
    @media screen and (width: 1024px) {
      font-size: 11px;
    }
    @media screen and (width: 1200px) {
      font-size: 12px;
    }
  }
}

