@import "mixins/mixins";


.nav-logo {
  &__img {

  }
  &__text {
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 200;
    sup {
      font-size: 50%;
      vertical-align: top;
      line-height: 3;
    }
    @media screen and (min-width: 992px) {
      font-size: 24px;
    }
  }
}
.nav-collapse {
  width: 90vw;
  background-color: @bg-white;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-bottom: 0;
  list-style: none;
  z-index: 3;
  top: -16px;
  transition: left .5s;
  @media screen and (min-width: 992px) {
    flex-direction: row;
    height: auto;
    width: 100%;
    background: transparent;
    z-index: 0;
    left: 0;
  }
}
.nav_collapse_pages {
  left: -95vw;
  height: 100vh;
  position: absolute;
  @media screen and (min-width: 992px) {
    left: 0;
    position: static;
    height: 40px;
  }
}
.nav-tel-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav_collapse_categ {
  height: 100vh;
  margin-bottom: 0;
  padding-left: 0;
  position: absolute;
  left: -100vw;
  top: -24px;
  z-index: 4;
  @media screen and (min-width: 411px) {
    top: -8px;
  }
  .nav-item {
    border-top: 1px solid  @text-grey;
    padding: 10px 0;
    &:last-child {
      border-bottom: 1px solid @text-grey;
    }
    @media screen and (min-width: 992px) {
      border: 0;
      top: 0;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  @media screen and (min-width: 992px) {
    position: static;
    height: auto;
    align-items: center;
    display: flex;
    z-index: 0;
    justify-content: space-between;
  }
}
.shower {
  left: -5vw;
  transition: left .5s;
}
.nav-item-top {
  height: 80px;
}
.close-nav {
  position: absolute;
  right: 0;
  cursor: pointer;
  @media screen and (min-width: 992px) {
    display: none;
  }
}
.nav-header-button {
  color: @top-btn;
  position: relative;
  font-size: .7rem;
  &:before {
    content: "";
    width: 24px;
    height: 1px;
    border-bottom: 1px solid @top-btn;
    position: absolute;
    top: 18px;
    bottom: 0;
    left: -25px;
    display: none;
  }
  &:hover {
    color: @base-text-white;
    &:before {
      border-color: @base-text-white;
    }
  }
  @media screen and (min-width: 992px) {
    font-size: 1rem;
    &:before {
      display: block;
    }
  }
}

.nav-light-divider {
  border-top: 1px solid @base-text-white;
}
.navbar .navbar-toggler {
  border-color: transparent;
  width: 2.4em;
  height: 2.6em;
  padding: 0;
  position: relative;
  .navbar-toggler-icons {
    color: @base-text-white;
    display: block;
    float: left;
    clear: both;
    height: 4px;
    width: 40px;
    border-radius: 40px;
    background-color: @base-text-white;
    position: absolute;
    right: 3px;
    top: 0;
    overflow: hidden;
    transition: all 0.4s ease;
    &:nth-child(1){
      margin-top: 10px;
      z-index: 1;
    }
    &:nth-child(2){
      margin-top: 25px;
    }
    &:nth-child(3){
      margin-top: 40px;
    }
  }
}
.navbar-light .navbar-toggler {
  .navbar-toggler-icons {
    background-color: @text-black-lite;
  }
}
