@import "mixins/mixins";

body {
  font-family: @font-gerbera;
}
h1, h2, h3, h4, h5 {
  font-family: @font-tenor;
}
.btn-base {
  width: 192px;
  height: 60px;
  background-color: transparent;
  text-transform: uppercase;
  &:before {
    content: "";
    height: 3px;
    width: 176px;
    border-top: 0;
    position: absolute;
    bottom: -3px;
    left: 8px;
  }
}

.bg-cover {
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
  }
  &:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.news-item {
  &__link {
    color: @black;
    &:hover {
      text-decoration: none;
      .news-block {
        &__date {
          .news-date {
            color: @black;
            margin-left: 20px;
          }
        }
        &__title {
          color: @red;
        }
        &__desk {
          color: @black;
        }
      }
    }
  }
  &__img {
    width: 100%;
  }
  &__block {
    border: 1px solid @beige;
  }
}


.news-block {
  padding: 25px;
  &__date {
    .news-action-img {
      vertical-align: baseline;
    }
    .news-action {
      color: @red;
      margin-left: 10px;
    }
    .news-date {
      color: @text-black-lite;
      margin-left: 20px;
    }
  }
  &__title {
  }
  &__desk {
    color: @text-black-lite;
  }
}
