@import "mixins/mixins";

.color_white {
  color: @base-text-white;
}
.color_black {
  color: @black;
}
.color_dark {
  background-color: rgba(0, 0, 0, 0.3);
}
.color_grey {
  color: @text-black-lite;
}
.color_red {
  color: @red;
}

.color_white_hover{
  &:hover {
    color: @base-text-white;
  }
}
.color_black_hover{
  &:hover {
    color: @black;
  }
}
.color_grey_hover{
  &:hover {
    color: @text-black-lite;
  }
}
.nav_link_dark {
  @media screen and (min-width: 992px) {
    font-size: 14px;
    color: @text-black-lite;
    font-family: @font-gerbera;
    &:hover {
      color: @black !important;
    }
  }
}

.rotate_180 {
  transform: rotate(@rotate180);
}


.breadcrumbs-link-line {
  margin-left: 30px;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -27px;
    background-color: @black;
  }
}


body {

  font-family: @font-gerbera;
}
h1, h2, h3, h4, h5 {
  font-family: @font-tenor;
}
a {
  &:hover {
    text-decoration: none;
  }
}
.btn-base {
  width: 100%;
  height: 60px;
  background-color: transparent;
  text-transform: uppercase;
  &:before {
    content: "";
    height: 4px;
    width: 90%;
    border: 1px solid;
    border-top: 0;
    position: absolute;
    bottom: -5px;
    left: 5%;
    z-index: 0;

  }
}
.modal-btn {
  color: @red;
  display: block;
  position: relative;
  border:1px solid @red;
  @media screen and (min-width: 767px) {
    width: @btn-width-small;
  }
  &:before {
    border:1px solid @red;
    color: @base-text-white;
  }
  &:hover {
    background-color: @red;
    color: #fff;
    &:before {
      background-color: #cbcac9;
    }
  }
  &:disabled {
    background-color: #ccc;
    color: @text-black-lite;
    border:1px solid @base-text-white;
    &:before {
      border-color: @base-text-white;
      color: @base-text-white;
    }
    &:hover {
      &:before {
        background-color: @base-text-white;
      }
    }
  }
}
.nav-dark-divider {
  top: -1px;
}
.breadcrumbs {
  margin-top: 30%;
  @media screen and (min-width: 767px) {
    margin-top: 15%;
  }
  @media screen and (min-width: 1024px) {
    margin-top: 8%;
  }


  &__link {
    .categ-arrow-up {
      width: 12px;
    }
  }
}
.breadcrumbs-title {
  text-transform: uppercase;
  color: @black;
}
.bg-cover {
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
  }
  &:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.news-item {
  display: flex;
  margin-bottom: 30px;
  &__link {
    color: @black;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    &:hover {
      text-decoration: none;
      .news-block {
        &__date {
          .news-date {
            color: @black;
          }
        }
        &__title {
          color: @red;
        }
        &__desk {
          color: @black;
        }
      }
    }
  }
  &__img {
    width: 100%;
  }
  &__block {
    flex-grow: 1;
    border: 1px solid @beige;
  }
}
.nav-divider-box {
  position: relative;
}
.nav-divider {
  width: 104.8%;
  opacity: .5;
  left: -4%;
  position: absolute;
}
.news-block {
  padding: 25px;
  &__date {
    .news-action-img {
      vertical-align: baseline;
    }
    .news-action {
      color: @red;
      margin-left: 10px;
      margin-right: 20px;
    }
    .news-date {
      color: @text-black-lite;
    }
  }
  &__title {
  }
  &__desk {
    color: @text-black-lite;
  }
}

.good-cost {
  color: @text-black-lite;

}
.modal-dialog {
  max-width: 800px;
  .close {
    font-weight: 200;
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 5px;
  }
}
.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
  a {
    color: @red;
  }
  @media screen and (min-width: 992px) {

  }
}

.cross {
  position: absolute;
  right: 12px;
  top: 10px;
  width: 22px;
  height: 32px;
  opacity: 0.5;
  &:hover {
    opacity: 0.9;
  }
  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 30px;
    width: 2px;
    background-color: #222;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.modal-label {
  width: 100%;
}
.modal-input {
  height: 40px;
  padding-left: 10px;
  border: 0;
  border-bottom: 1px solid lighten(@text-black-lite, 40%);
  width: 100%;
  &:focus {
    border-bottom-color: @text-black-lite;
  }
}

.modal-privacy-label {
  color: lighten(@text-black-lite, 15%);
}


.chevron::before {
  border-style: solid ;
  border-width: 0.15em 0.15em 0 0;
  border-color: @red;
  content: '';
  display: inline-block;
  height: 0.8em;
  right: 0;
  position: relative;
  top: 0.25em;
  transform: rotate(45deg);
  vertical-align: top;
  width: 0.8em;
}
