@top-btn: #f50c0c;
@nav-hover-text: cbcac9;
@base-text-white: #fff;
@red: #F50C0C;
@black: #000;
@bg-white: #fff;
@beige: #F3EFEB;
@text-black-lite: #82858a;
@text-grey: #cbcbcb;

@font-tenor: Tenor-Sans;
@font-gerbera: Gerbera;

@btn-width-small: 192px;
